@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', 'IBM Plex Mono', monospace, sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0px; }

/* Set de topicos*/
/*-- Inicio--*/
.padre {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  padding: 0px; }

.header {
  display: flex;
  flex-flow: column nowrap;
  padding: 0px; }

.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  height: 44px;
  top: 0;
  z-index: 1; }

.logo {
  flex: 1 1 auto;
  margin-left: 16px;
  padding: 2px;
  z-index: 7;
  max-width: 44px;
  max-height: 44px; }

.imglogo {
  width: 24px;
  height: 24px;
  z-index: 8; }

.srclogo {
  width: 24px;
  height: 24px; }

@media screen and (min-width: 650px) {
  .logo {
    margin-left: 29px; } }
@media screen and (min-width: 1000px) {
  .menu {
    width: 100%;
    height: 80px; }

  .logo {
    flex: 1 1 auto;
    margin-left: 100px;
    max-height: 80px; }

  .srclogo {
    width: 36px;
    height: 36px; } }
/*----------------BARRA DE NAVEGACION SUPERIOR DESPUES DE 650PX------------------------------------*/
.nav {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  margin-right: 16px;
  visibility: hidden;
  z-index: 9; }

.div-nav {
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-end;
  width: 100%; }

.a-nav {
  display: inline-flex;
  margin-left: 48px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #060A24; }

@media screen and (min-width: 650px) {
  .nav {
    visibility: visible; }

  .div-nav {
    margin-right: 2em; } }
@media screen and (min-width: 1000px) {
  .nav {
    margin-right: 100px; }

  .a-nav {
    font-size: 16px; } }
/*----------------------Menu Hamburguesa---------------*/
.hamburguesa {
  display: flex;
  flex-direction: row;
  visibility: visible; }

@media screen and (min-width: 650px) {
  .hamburguesa {
    visibility: hidden; } }
/** Es el lugar del icono hamburguesa en la barra de navegacion.*/
.nav-menu_hamburguesa {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 44px;
  color: #060A24;
  overflow: hidden;
  cursor: pointer; }

.nav-menu_hamburguesa:after {
  content: "☰";
  font-size: 1em;
  font-weight: 800;
  width: 100%;
  line-height: 0.5;
  text-align: right;
  position: relative;
  padding: 16px;
  float: right; }

.checkbox_label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 44px;
  overflow: hidden;
  cursor: pointer;
  margin: 0; }

/* Esto hace funcionar la barra de navegacion*/
.checkbox {
  display: none; }

.checkbox:checked ~ .nav-menu_hamburguesa {
  overflow: visible; }

.checkbox:checked ~ .nav-menu_hamburguesa::after {
  content: "X";
  font-size: 0.9em; }

/* -----BARRA DE NAVEGACION------------*/
.nav-vinculos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 44px;
  height: 224px;
  background-color: #0000EC;
  padding-bottom: 5px;
  width: 100vw;
  overflow: visible;
  z-index: 4; }

.a-vinculos {
  display: inline-flex;
  text-decoration: none;
  font-size: 16px;
  padding-left: 16px;
  line-height: 70px;
  color: #ffffff;
  width: 100%;
  height: 50px;
  z-index: 5; }

.a-vinculos:hover {
  background-color: #00f3ba;
  color: #060A24;
  cursor: pointer; }

/*---------------------------------HEADER-----------------------*/
.article {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  top: 44px;
  margin-top: 29px;
  margin-left: 16px; }

.titulo {
  display: flex;
  flex-wrap: wrap;
  height: 102px; }

h1 {
  flex-flow: nowrap;
  font-size: 36px;
  font-weight: lighter;
  margin: 0px;
  height: 48px; }

.spanazul {
  margin-left: -9px; }

.world {
  flex-flow: wrap;
  text-decoration: line-through;
  height: 48px;
  margin-left: 9px; }

.parrafo {
  display: flex;
  justify-content: left;
  width: 288px; }

.parrafop {
  flex-flow: wrap;
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  width: 288px; }

.parrafo-add {
  flex-flow: wrap;
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  font-size: 16px;
  line-height: 24px;
  width: 288px;
  display: none; }

.botonconocemas {
  display: inline-flex;
  font-family: 'IBM Plex Mono', Medium;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 48px;
  background: #00F3BB;
  height: 48px;
  width: 288px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-left: 87px;
  margin-top: 22px;
  margin-bottom: 24px; }

.botonconocemas:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #ffffff;
  font-size: 18px;
  padding-left: 80px; }

@media screen and (min-width: 431px) {
  .titulo {
    height: 48px; }

  .spanazul {
    color: #0000EC; }

  .p-pale {
    margin-left: 9px; } }
@media screen and (min-width: 650px) {
  .parrafo {
    width: 628px; }

  .parrafop {
    display: none; }

  .parrafo-add {
    display: flex;
    width: 628px; }

  .botonconocemas {
    font-size: 18px;
    margin-top: 34px;
    width: 226px;
    padding-left: 58px; }

  .botonconocemas:hover {
    font-size: 18px;
    padding-left: 58px; } }
@media screen and (min-width: 1000px) {
  .article {
    top: 80px;
    margin-top: 120px;
    margin-left: 200px; }

  .titulo {
    height: 80px; }

  h1 {
    font-size: 64px;
    height: 64px;
    margin-left: -4px; } }
/*--------------------------Fin Header----------------------*/
.section-episodios {
  margin-top: 48px;
  width: 100%; }

.divepisodios {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
  height: 1203.5px;
  display: flex;
  flex-flow: column nowrap; }

.episodios-p {
  display: flex;
  font-family: 'IBM Plex Sans';
  font-weight: lighter;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  color: #ffffff;
  /*flex: 1 1 100%;*/
  height: 29px;
  margin-top: 60px;
  margin-left: 16px;
  padding: 0px;
  /*align-items: flex-end;*/ }

.spotify {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px 11px 0px 11px; }

.iframe {
  display: flex;
  width: 100%;
  height: 241px; }

@media screen and (min-width: 650px) {
  .divepisodios {
    height: 710px; }

  .spotify {
    flex-flow: row wrap;
    align-content: flex-start;
    flex: 2 1 auto; }

  .iframe {
    flex: 1 1 30%;
    margin: 7px; } }
@media screen and (min-width: 964px) {
  .iframe {
    flex: 1 1 32%; } }
@media screen and (min-width: 1000px) {
  .section-episodios {
    margin-top: 60px; }

  .divepisodios {
    clip-path: polygon(0 10%, 100% 0, 100% 94%, 0% 97%);
    height: 1042.6px; }

  .episodios-p {
    margin-top: 186px;
    margin-left: 200px;
    padding: 0px;
    font-size: 48px; }

  .spotify {
    margin: 0px 100px 0px 100px; } }
/*---------------------------SECCION NOSOTROS--------------------------------------*/
.section-nosotros {
  margin-top: 24em;
  margin-left: 16px;
  margin-right: 16px;
  /*width: 90%;*/ }

.phonenosotros {
  max-width: 19em;
  position: absolute;
  top: 1466px;
  margin-left: -10px; }

.artnosotros {
  margin-top: 16px; }

h2 {
  font-family: 'IBM Plex Sans';
  font-weight: lighter;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-bottom: 16px; }

p {
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px; }

.segundoP {
  margin-top: 16px;
  margin-bottom: 0px; }

@media screen and (min-width: 431px) {
  .divphone {
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .phonenosotros {
    max-width: 22em;
    top: 1418px; }

  .artnosotros {
    margin-top: 100px; } }
@media screen and (min-width: 650px) {
  .section-nosotros {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 2 50%;
    margin-top: 1em;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 1em; }

  .divphone {
    flex: 1 1 52%;
    display: flex;
    justify-content: center; }

  .phonenosotros {
    max-width: 22em;
    top: 981px;
    margin-left: -10px; }

  .artnosotros {
    display: flex;
    flex: 1 1 58%;
    flex-direction: column;
    padding-right: 2em; }

  h2 {
    margin: 0px; }

  p {
    margin-top: 2em;
    font-size: 16px; } }
@media screen and (min-width: 1000px) {
  .section-nosotros {
    height: 100em; }

  .divphone {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }

  .phonenosotros {
    max-width: 28.6em;
    top: 1405px; }

  .artnosotros {
    align-items: center;
    width: 100%; }

  .p-nosotros {
    width: 100%; }

  h2 {
    font-size: 48px;
    width: 100%; }

  p {
    width: 464px; } }
/*----------------------------SECCIÓN ENTREVISTAS--------------------------------------*/
.section-entrevistas {
  margin-top: 16px;
  width: 100%; }

.h3-entrevistas {
  font-family: 'IBM Plex Sans';
  font-weight: lighter;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 0px 16px 16px 16px; }

.divEntrevistas {
  display: flex;
  flex-flow: column; }

.imgEntrevistas {
  width: 100%; }

@media screen and (min-width: 650px) {
  .section-entrevistas {
    margin-top: 7em; }

  .divEntrevistas {
    display: flex;
    flex-flow: row wrap; }

  .imgEntrevistas {
    width: 50%; } }
@media screen and (min-width: 1000px) {
  .section-entrevistas {
    margin-top: 20em;
    display: flex;
    flex-direction: column; }

  .h3-entrevistas {
    margin: 64px 16px 36px 200px;
    font-size: 48px; }

  .imgEntrevistas {
    width: 33.3%; } }
/*------------------------------SECCION TÓPICOS-----------------------------------------*/
.section-topicos {
  width: 100%;
  display: flex;
  flex-flow: column; }

.h3-topicos {
  font-family: 'IBM Plex Sans';
  font-weight: lighter;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 48px 16px 16px 16px; }

.divTopicos {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  width: 100%; }

.divtrabajo {
  font-family: 'IBM Plex Sans', 'SemiBold';
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  margin-top: 48px; }

.ptopicos {
  font-family: 'IBM Plex Sans', 'SemiBold';
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  margin: 16px; }

.divrepensando {
  font-family: 'IBM Plex Sans', 'SemiBold';
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  margin-top: 48px; }

.divBases {
  font-family: 'IBM Plex Sans', 'SemiBold';
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  margin-top: 48px; }

.divSeguridad {
  font-family: 'IBM Plex Sans', 'SemiBold';
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  margin-top: 48px; }

@media screen and (min-width: 650px) {
  .divTopicos {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center; }

  .divtrabajo {
    width: 50%; }

  .divrepensando {
    width: 50%; }

  .divBases {
    width: 50%; }

  .divSeguridad {
    width: 50%; } }
@media screen and (min-width: 1000px) {
  .section-topicos {
    width: 100%;
    display: flex;
    flex-flow: column nowrap; }

  .artopicos {
    width: 100%; }

  .h3-topicos {
    margin: 64px 16px 36px 200px;
    font-size: 48px; }

  .divTopicos {
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 69px;
    /*padding-left: 17.37em;
    padding-right: 17.37em;*/ }

  .divtrabajo {
    width: 15%;
    margin-top: 0px; }

  .ptopicos {
    margin: 0px;
    width: 100%;
    height: 32px; }

  .divrepensando {
    width: 15%;
    margin-top: 0px; }

  .divBases {
    width: 15%;
    margin-top: 0px; }

  .divSeguridad {
    width: 15%;
    margin-top: 0px; } }
/*----------------------------FIN SECCION TOPICOS*/
.section-novedades {
  display: flex;
  text-align: center;
  margin-top: 48px; }

.div-novedades {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  height: 341px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column; }

.pnovedades {
  font-family: 'IBM Plex Sans';
  font-weight: lighter;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  color: #ffffff;
  width: min-content; }

.botonNovedades {
  display: inline-flex;
  font-family: 'IBM Plex Mono', Medium;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 48px;
  background: #00F3BB;
  height: 48px;
  width: 288px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-left: 44px; }

.botonNovedades:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #ffffff;
  font-size: 18px;
  padding-left: 35px; }

@media screen and (min-width: 650px) {
  .pnovedades {
    width: 53%; }

  .botonNovedades {
    padding-left: 55px;
    height: 56px;
    width: 345px;
    font-size: 18px;
    line-height: 60px; }

  .botonNovedades:hover {
    padding-left: 56px;
    font-size: 18px; } }
@media screen and (min-width: 1000px) {
  .section-novedades {
    height: 518px; }

  .div-novedades {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
    height: 518px; }

  .pnovedades {
    font-size: 48px; } }
/*---------------------------------FOOTER---------------------*/
.footer {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  text-align: center;
  padding: 10px 1em 2em 1em; }

.div-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px; }

@media screen and (min-width: 650px) {
  .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }

  .div-redes {
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: center;
    width: 259.3px; } }
@media screen and (min-width: 1000px) {
  .footer {
    padding: 0px 0em 0em 0em; }

  .div-redes {
    margin-right: 100px; } }

/*# sourceMappingURL=estilo.css.map */
