* {
    
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', 'IBM Plex Mono', monospace, sans-serif;
    
}

html {
    scroll-behavior: smooth;
  }
body {
    margin: 0px;
}



@mixin titulos {
    font-family: 'IBM Plex Sans';
    font-weight: lighter;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
   
}

@mixin parrafos {
    font-family: 'IBM Plex Mono';
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}
    
/* Set de topicos*/

@mixin topicos {
    font-family: 'IBM Plex Sans', 'SemiBold';
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    font-weight: 600;        
    margin: 0px;
    padding: 0px;

}


@mixin boton {
    display: inline-flex;
    font-family: 'IBM Plex Mono', Medium;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 48px;
    background: #00F3BB;
    height: 48px;
    width: 288px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

@mixin hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #ffffff;
    font-size: 18px;
}



@mixin polygono {
    background-image: linear-gradient(225deg,#0000FF 0%, #0000A3 100%);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    
}



/*-- Inicio--*/

.padre {
        display: flex;
        flex-flow: column nowrap;
        margin: 0px;
        padding:0px;
}


    .header {
        display: flex;
        flex-flow: column nowrap;
        padding: 0px;
    }
        .menu {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            position: fixed;
            background-color: #ffffff;
            width: 100%;
            height: 44px;
            top: 0;
            z-index: 1;
        }
            .logo {
                flex: 1 1 auto;
                margin-left: 16px;
                padding: 2px;
                z-index: 7;
                max-width: 44px;
                max-height: 44px;
                }

                .imglogo {
                    width: 24px;
                    height: 24px;
                    z-index: 8;
                }

                .srclogo {
                    width: 24px;
                    height: 24px;
                }


@media screen and (min-width: 650px) {
            .logo {
                margin-left: 29px;
            }
}

@media screen and (min-width: 1000px) {
                
        .menu {
            width: 100%;
            height: 80px;
        }

        .logo {
            flex: 1 1 auto;
            margin-left: 100px;
            max-height: 80px;
            }
    
                .srclogo {
                    width: 36px;
                    height: 36px;
                }
}

            .nav {
                display: flex;
                flex-flow: row nowrap;
                width: 90%;
                margin-right: 16px;
                visibility: hidden;
                z-index: 9;
            }

                .div-nav {
                    display: flex;
                    flex-direction: row nowrap;    
                    justify-content: flex-end;
                    width: 100%;
                } 
                
                    .a-nav {
                        display: inline-flex;
                        margin-left: 48px;
                        font-family: 'IBM Plex Mono', sans-serif;
                        font-size: 14px;
                        text-decoration: none;
                        color: #060A24;
                    }



@media screen and (min-width: 650px) {
            .nav {
                visibility: visible;
            }

                .div-nav {
                    margin-right: 2em;
                }
}

@media screen and (min-width: 1000px) {
                    .nav {
                        margin-right: 100px;
                    }

                    .a-nav {
                        font-size: 16px;
                    }

}

                       
/*----------------------Menu Hamburguesa---------------*/

            .hamburguesa {
                display: flex;
                flex-direction: row;
                visibility: visible;
            }

@media screen and (min-width: 650px) {
            .hamburguesa {
                visibility: hidden;
            }
}

                /** Es el lugar del icono hamburguesa en la barra de navegacion.*/

                .nav-menu_hamburguesa {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    height: 44px;
                    color: #060A24;
                    overflow: hidden;
                    cursor: pointer;
                }
                    .nav-menu_hamburguesa:after {
                        content: "☰";
                        font-size: 1em;
                        font-weight: 800;
                        width: 100%;
                        line-height: 0.5;
                        text-align: right;
                        position: relative;
                        padding: 16px;
                        float: right;
                    }
                  
                    .checkbox_label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 3;
                        width: 100%;
                        height: 44px;
                        overflow: hidden;
                        cursor: pointer;
                        margin: 0;
                    }
                    

                    /* Esto hace funcionar la barra de navegacion*/

                    .checkbox {
                        display: none;
                    }
                  
                    .checkbox:checked ~ .nav-menu_hamburguesa {
                        overflow: visible;
                    }

                    .checkbox:checked ~ .nav-menu_hamburguesa::after {
                        content: "X";
                        font-size: 0.9em;
                    }
                    /* -----------------*/
                    
                    .nav-vinculos {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        top: 44px;
                        height: 224px;
                        background-color: #0000EC;
                        padding-bottom: 5px;
                        width: 100vw;
                        overflow: visible;
                        z-index: 4;
                    }

                        .a-vinculos {
                            display: inline-flex;
                            text-decoration: none;
                            font-size: 16px;
                            padding-left: 16px;
                            line-height: 70px;
                            color: #ffffff;
                            width:100%;
                            height: 50px;
                            z-index: 5;
                        }
                        
                            .a-vinculos:hover{
                                background-color: rgb(0, 243, 186);
                                color: #060A24;
                                cursor: pointer;
                            }

/*-----------------Fin barra de navegacion-----------------------*/

        .article {
            display: flex;
            flex-flow: column nowrap;
            position: relative;
            top: 44px;
            margin-top: 29px;
            margin-left: 16px;
        }

            .titulo {
                display: flex;
                flex-wrap: wrap;
                height: 102px;
            }   
                h1 {
                    flex-flow: nowrap;
                    font-size: 36px;
                    font-weight: lighter;
                    margin: 0px;
                    height: 48px
                }

                    .spanazul {
                        margin-left: -9px;
                    }
                
                .world {
                    flex-flow: wrap;
                    text-decoration: line-through;
                    height: 48px;
                    margin-left: 9px;
                   
                }

            .parrafo {
                display: flex;
                justify-content: left;
                width: 288px;
            }
            
                .parrafop {
                    flex-flow: wrap;
                    @include parrafos;
                    width: 288px;
                }

                .parrafo-add {
                    flex-flow: wrap;
                    @include parrafos;
                    font-size: 16px;
                    line-height: 24px;
                    width: 288px;
                    display: none;
                }
            
            .botonconocemas {
                @include boton;
                padding-left: 87px;
                margin-top: 22px;
                margin-bottom: 24px;
            }
                .botonconocemas:hover {
                    @include hover;
                    padding-left: 80px;
                }

@media screen and (min-width: 431px) {
    
            .titulo {
                height: 48px;
            }    

                .spanazul {
                    color: #0000EC;
                }

                .p-pale {
                    margin-left: 9px;
                }
}


@media screen and (min-width: 650px) {

            .parrafo {
                width: 628px;
            }
                
                .parrafop  {
                    display:none;
                }

                .parrafo-add {
                    display: flex;
                    width: 628px;
                }
            
            
} 

@media screen and (min-width: 1000px) {
    .article {
        top: 80px;
        margin-top: 120px;
        margin-left: 200px;
    }       
    

        .titulo {
            height: 80px;
        }

            h1 {
                font-size: 64px;
                height: 64px;
                margin-left: -4px;
            }
    
 
            .botonconocemas {
                font-size: 18px;
                margin-top: 34px;
                width: 226px;
                padding-left: 58px;
            }
                .botonconocemas:hover {
                    font-size: 18px;
                    padding-left: 58px;
                }
}


/*--------------------------Fin Header----------------------*/

    .section-episodios {
        margin-top: 48px;
        width: 100%;
    }   
        .divepisodios {
            @include polygono;
            clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
            height: 1203.5px;
            /*flex: 2 1 auto;*/
            align-content: flex-start;
        }
            .episodios-p {
                display: flex;
                @include titulos;
                color: #ffffff;
                /*flex: 1 1 100%;*/
                height: 29px;
                margin-top: 60px;
                margin-left: 16px;
                padding: 0px;
                /*align-items: flex-end;*/
            }

            .spotify {
                display: flex;
                flex-flow: column;
                margin: 0px 11px 0px 11px;
            }
                .iframe {
                    display: flex;
                    width: 100%;
                    height: 168px;
                    /*flex: 1 1 40%;
                    width: 298px;*/
                }



@media screen and (min-width: 650px) {


        .divepisodios {
            height: 710px;
        }
      
            .spotify {
                flex-flow: row wrap;
                align-content: flex-start;
                flex: 2 1 auto;
            }
                .iframe {
                   flex: 1 1 30%;
                   margin: 7px;  
                }    
        
}


@media screen and (min-width: 1000px) {

    .section-episodios {
        margin-top: 60px;
    }

        .divepisodios {
            clip-path: polygon(0 10%, 100% 0, 100% 94%, 0% 97%);
            height: 1042.6px;
        }   

        .episodios-p {
            margin-top: 186px;
            margin-left: 200px;
            padding: 0px;
            font-size: 48px;
        }
}


/*---------------------------FIN SECCION EPISODIOS--------------------------------------*/
        
    .section-nosotros {
        margin-top: 24em;
        margin-left: 16px;
        margin-right: 16px;
        /*width: 90%;*/     
    }

        .phonenosotros {
            max-width: 19em;
            position: absolute;
            top: 1466px;
            margin-left: -10px;    
        }

        .artnosotros {
           
            margin-top: 16px;
            
        }

            h2 {
                @include titulos;
                margin-bottom: 16px;
            }

            p {
                @include parrafos;
            }

            .segundoP {
                margin-top: 16px;
                margin-bottom: 0px;
            }


@media screen and (min-width: 431px) {

            .phonenosotros {
                max-width: 22em;
                top: 1333px;      
            }

}

@media screen and (min-width: 650px) {

    .section-nosotros {
        width: 100%;  
        display: flex;
        flex-direction: row;
        flex: 1 2 50%;
        margin-top: 1em;
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 1em;
    }

        .divphone {
            flex: 1 1 52%;
            display: flex;
            justify-content: center;
        }
         
            .phonenosotros {
                max-width: 22em;
                top: 913px;
                margin-left: -10px;   
            }

        .artnosotros {
            display: flex;
            flex: 1 1 58%;
            flex-direction: column;
            padding-right: 2em;
        }

            h2 {
                margin: 0px;
            }

            p {
                margin-top: 2em;
                font-size: 16px;
            }
}


@media screen and (min-width: 1000px) {
    
    .section-nosotros {
        height: 100em;
    }
    
        .divphone {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    
            .phonenosotros {
                max-width: 28.6em;
                top: 1405px;
                
            }
        
        .artnosotros {
            align-items: center;
            width: 100%;
        }

            .p-nosotros {
                width: 100%;
            }    

                h2 {
                    font-size: 48px;
                    width: 100%;
                }
                
                    p {
                        width: 464px;
                    }
}
    
/*----------------------------SECCIÓN ENTREVISTAS--------------------------------------*/


    .section-entrevistas {
        margin-top: 16px;
        width: 100%;
    }   
        h3 {
            @include titulos;
            margin: 0px 16px 16px 16px;
        }

        .divEntrevistas {
            display: flex;
            flex-flow: column;
        }
            .imgEntrevistas {
                
                width: 100%;
            }



@media screen and (min-width: 650px) {
    .section-entrevistas {
        margin-top: 7em;
    }

}

@media screen and (min-width: 1000px) {

    .section-entrevistas {
        margin-top: 20em;
    }   

            h3 {
                margin: 64px 16px 16px 200px;
                font-size: 48px;
            }
}
/*------------------------------FIN SECCION ENTREVISTAS-----------------------------------------*/
    .section-topicos {
    }
        h3{
            @include titulos;
            margin: 48px 16px 16px 16px;
        }

        .divTopicos {
            display: flex;
            flex-flow: column;
            text-align: center;
            align-items: center;
        }
            .divtrabajo {
                @include topicos;
                margin-top: 48px;
            }
                .ptopicos {
                    @include topicos;
                    margin: 16px;
                }
            .divrepensando {
                @include topicos;
                margin-top: 48px;
            }

            .divBases {
                @include topicos;
                margin-top: 48px;
            }

            .divSeguridad {
                @include topicos;
                margin-top: 48px;
            }
@media screen and (min-width: 650px) {
    .divTopicos {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        align-items: center;
    }
}

@media screen and (min-width: 1000px) {
    
}
/*----------------------------FIN SECCION TOPICOS*/            
    
    .section-novedades {
        display: flex;
        flex-flow: column;
        text-align: center;
        align-items: center;
        margin-top: 48px;
    }
        .div-novedades {
            @include polygono;
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
            height: 341px;
            justify-content: center;
            align-items: center;
        }
        .pnovedades {
            @include titulos;
            color: #ffffff;
            width: min-content;
        }

        .botonNovedades {
            @include boton;
            padding-left: 44px;
        }   
            .botonNovedades:hover {
                @include hover;
                padding-left: 35px;
            }


@media screen and (min-width: 650px) {
    
}

@media screen and (min-width: 1000px) {
    
}

/*---------------------------------FIN SECCION NOVEDADES*/    
    
    .footer {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center;
        padding: 10px 16px 35px 16px;
    }   
        .div-redes {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 10px;
        }